* {
   font-family: Lato;
  }

body {
   background-color: #2b2b2b;
   color: #4ddb9f;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

button {
   background-color: #2b2b2b;
   color: #4ddb9f;
   border: none;
   font-weight: inherit;
   font-size: inherit;
}

input.inputMobile {
   font-size: inherit;
   height: 1em;
   width: 100%;
}

button:hover {
   color: #4ddbff;
}

button.letter {
   width: 1.5vmin;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}; 

div {
   font-family: 'Lato', sans-serif;
}

div.overlay {
   position: absolute;
   z-index: 5;
}

div.letterContainer {
   display: inline;
}

div.stringSelector {
   background-color: #2b2b2b;
   border: .4vmin solid black;
   width: 300px;
}

div#status {
   height: 1vmin;
}

div#artistText {
   font-weight: 400
}

div#titleText {
   font-weight: 200
}

div#albumText { font-weight: 200 }

div#plainOlPlayer {
   border: 5px solid black;
}

div#popButtons {
   display: inline
}

div#popStatusText {
   display: inline-block;
   width: 4em;
   max-width: 4em;
}

div#popProgress {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   position: relative;
   background: #2b2b2b;
   width: 100%;
   height: 2em;
}

div#popProgressBar {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   background: #4ddb9f;
   width: 1%;
   height: 100%;
};

div#plainOlQueueWrapper {
   max-height: 8vmin;
   overflow-y: scroll;
   border: 5px solid black;
}

table#plainOlQueue th {
   display: none;
}

table.plainOlQueueMobile {
   width:100%;
}

div.toolsMobile {
   display: none;
}

div#playerWrapper {
   position: relative;
}

li#song {
   font-weight: 200
}

li#artist {
   font-weight: 200
}

li#album {
   font-weight: 200
}

ol#crmlist {
}

li.currentlyPlaying {
   background: #ffe555;
}

table {
   border-top: 1px solid #4ddb9f;
   border-spacing: 0px;
}

th, td {
   border-bottom: 0px solid black;
   margin-top: 0px;
   margin-bottom: 0px;
}

div.headerIcon {
   display: inline-block;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

div.songIcon {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

tr {
   background-color: #2b2b2b;
   color: #4ddb9f;
   margin-top: 0px;
   margin-bottom: 0px;
}

tr.songTableHeader {
}

tr.songTableHeaderMobile {
   display: none;
}

div#statusWrapper td {
   font-size: smaller;
}

div#statusWrapper {
   background: #2b2b2b;
   border: 5px solid black;
}

div.statusWrapper {
   position:fixed;
   bottom:0;
   right:0;
}

div.statusWrapperMobile {
}

div.mobileRow {
   border: 2px solid #4ddb9f;
   margin: 1vmin 1vmin 1vmin 1vmin;
   border-radius: .4vmin;
   padding-top: 1vmin;
   padding-bottom: .2vmin;
}

div.nonPrimaryMobileFieldContainer {
   font-size: smaller;
   font-weight: lighter;
   padding-left: 3vmin;
}

div.nonPrimaryMobileFieldContainer ul {
   display: inline;
   margin: 0vmin 0vmin 0vmin 0vmin;
   padding: 0vmin 0vmin 0vmin 0vmin;
   list-style-type: none;
}

div.nonPrimaryMobileFieldContainer ul li div.spacer {
   display: inline;
   margin-left: 2vmin;
}

div.primaryMobileField {
}

/*
tr:nth-child(even) {
   background-color: #2b2b2b;
   color: #4ddb9f;
}
tr:nth-child(odd) {
   color: #2b2b2b;
   background-color: #4ddb9f;
}

*/
